@using AcademiaFacil.Data.Enums
@using AcademiaFacil.Models
@using AcademiaFacil.Models.Tipos
@using AcademiaFacil.Models.View
@using Newtonsoft.Json
@model Exercicio;
@{
    ViewData["Title"] = "Editar Exercício";
    List<TipoExercicio> listaTiposExercicio = ViewBag.TiposExercicios;
    List<Equipamento> listaEquipamentos = ViewBag.Equipamentos;
}
<div class="card-header">@ViewData["Title"]</div>
<div class="container card-body">
    <form class="row g-3" asp-controller="ExerciciosView" asp-action="EditarExercicio" method="post">

        <input type="text" class="form-control" id="nome" asp-for="Id" maxlength="50" hidden>

        <div class="col-md-6 ">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" asp-for="Nome" maxlength="50">
            <span class="alert-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="col-md-6 ">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricao" asp-for="Descricao" maxlength="100">
            <span class="alert-danger" asp-validation-for="Descricao"></span>
        </div>

        <div class="col-md-4">
            <label for="nivel" class="form-label">Nível tipo exercicío</label>
            <select class="form-select" id="nivel" required asp-for="Nivel">
                @foreach (Nivel item in Enum.GetValues(typeof(Nivel)))
                {
                    <option value="@item">@item</option>
                }
            </select>
            <span class="alert-danger" asp-validation-for="Nivel"></span>
        </div>

        @* Lista de Tipos de Exercicíos *@
        <div class="col-md-8">
            <label for="tipoExercicio" class="form-label">Tipo</label>
            @if (listaTiposExercicio.Any())
            {
                <select class="form-select" id="tipoExercicio" asp-for="TipoExercicioId">
                    @foreach (var item in listaTiposExercicio)
                    {
                        <option value="@item.Id">@item.Nivel - @item.Nome</option>
                    }
                </select>
            }
            else
            {
                <select class="form-select" id="tipoExercicio" disabled>
                    <option selected value="0">Sem tipos de exercícios cadastrados.</option>
                </select>
            }
            @* <span class="alert-danger" asp-validation-for="TipoExercicio"></span> *@
        </div>

        @* Lista de Equipamentos *@
        <div class="col-md-6 ">
            <label for="equipamento" class="form-label">Equipamento</label>
            @if (listaEquipamentos.Any())
            {
                <select class="form-select" id="equipamento" asp-for="EquipamentoId">
                    @foreach (var equipamento in listaEquipamentos)
                    {
                        <option value="@equipamento.Id">@equipamento.Nome</option>
                    }
                </select>
            }
            else
            {
                <select class="form-select" id="equipamento" disabled>
                    <option selected value="0">Sem equipamentos cadastrados.</option>
                </select>
            }
            @* <span class="alert-danger" asp-validation-for="Equipamento"></span> *@
        </div>

        <div class="col-md-6 ">
            <label for="repeticao" class="form-label">Repetições</label>
            <input type="number" class="form-control" id="repeticao" asp-for="Repeticoes" max="100">
            <span class="alert-danger" asp-validation-for="Repeticoes"></span>
        </div>

        <div class="col-md-6 ">
            <label for="ajuda" class="form-label">Ajuda</label>
            <input type="url" class="form-control" id="ajuda" asp-for="Ajuda" title="Link de ajuda para realizar o exercicío" aria->
            <span class="alert-danger" asp-validation-for="Ajuda"></span>
        </div>

        <div class="col-md-6 ">
            <label for="obvervacao" class="form-label">Observação</label>
            <input type="text" class="form-control" id="obvervacao" asp-for="Observacao">
            <span class="alert-danger" asp-validation-for="Observacao"></span>
        </div>

        <div class="form-check ms-2">
            <input class="form-check-input" type="checkbox" id="ativo" asp-for="Ativo">
            <label class="form-check-label" for="ativo">
                Ativo
            </label>
        </div>

        <div class="col-12">
            @if (!listaTiposExercicio.Any())
            {
                <a class="btn btn-primary" asp-controller="TiposExercicioView" asp-action="Cadastrar">Cadastrar tipo de exercicío</a>
            }
            else if (!listaEquipamentos.Any())
            {
                <a class="btn btn-primary" asp-controller="Equipamentos" asp-action="Cadastro">Cadastrar equipamento</a>
            }
            else
            {
                <button class="btn btn-warning" type="submit">Editar</button>
            }
            <a class="btn btn-danger" asp-controller="ExerciciosView" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>