@using AcademiaFacil.Data.Enums.Aluno
@using AcademiaFacil.Models.Entidades
@model Aluno;
@{
    ViewData["Title"] = "Cadastro de Alunos";
}

<div class="card-header">@ViewData["Title"]</div>
<div class="container card-body">
    <form class="row g-3" asp-controller="AlunoView" asp-action="Cadastrar" method="post">

        <div class="col-md-6 ">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" required asp-for="Nome" maxlength="50">
            <span class="alert-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" aria-describedby="inputGroupPrepend" required asp-for="Email">
            <span class="alert-danger" asp-validation-for="Email"></span>
        </div>

        <div class="col-md-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" aria-describedby="inputGroupPrepend" required asp-for="CPF" maxlength="11">
            <span class="alert-danger" asp-validation-for="CPF"></span>
        </div>

        <div class="col-md-2">
            <label for="celular" class="form-label">Celular</label>
            <input type="tel" class="form-control" id="celular" required asp-for="Celular" maxlength="11">
            <span class="alert-danger" asp-validation-for="Celular"></span>
        </div>

        <div class="col-md-2">
            <label for="dataNascimento" class="form-label">Data de nascimento</label>
            <input type="date" class="form-control" id="dataNascimento" required asp-for="DataNascimento">
            <span class="alert-danger" asp-validation-for="DataNascimento"></span>
        </div>

        <div class="col-md-5">
            <label for="imagem" class="form-label">Imagem</label>
            <input type="url" class="form-control" id="imagem" required asp-for="Imagem">
            <span class="alert-danger" asp-validation-for="Imagem"></span>
        </div>

        <div class="col-md-4">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" required asp-for="Senha">
            <span class="alert-danger" asp-validation-for="Senha"></span>
        </div>

        <div class="col-md-4">
            <label for="confirmacaoSenha" class="form-label">Confirmação de senha</label>
            <input type="password" class="form-control" id="confirmacaoSenha" required asp-for="ConfirmacaoSenha">
        </div>

        <div class="col-md-2">
            <label for="tipoPlano" class="form-label">Tipo do plano</label>
            <select class="form-select" id="tipoPlano" required asp-for="TipoPlano">
                @foreach (var item in Enum.GetValues(typeof(TipoPlano)))
                {
                    <option value="@item">@item</option>
                }
            </select>
            <span class="alert-danger" asp-validation-for="TipoPlano"></span>
        </div>

        <div class="col-md-2">
            <label for="diaPagamentoPlano" class="form-label">Dia de pagamento</label>
            <select class="form-select" id="diaPagamentoPlano" required asp-for="DiaPagamentoPlano">
                @for (int i = 1; i <= 30; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <span class="alert-danger" asp-validation-for="DiaPagamentoPlano"></span>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </div>

    </form>
</div>